{% extends 'base.html' %}

{% block content %}

<div class="card shadow-sm p-4 mx-auto" style="max-width: 500px;">

    <h4 class="text-center mb-4">Nuevo Alumno</h4>

    <!-- MENSAJES -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'error' %}
                    alert-danger
                {% else %}
                    alert-success
                {% endif %}
            ">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}

        <!-- MATRÍCULA -->
        <div class="mb-3">
    <label>Matrícula</label>
    <input class="form-control" value="Se genera automáticamente" disabled>
</div>

        <!-- NOMBRE -->
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" name="nombre" class="form-control" placeholder="Ej. Juan Pérez" required autocomplete="off">
        </div>

        <!-- CORREO -->
        <div class="mb-3">
            <label class="form-label">Correo</label>
            <input type="email" name="correo" class="form-control" placeholder="correo@ejemplo.com" autocomplete="off" required>
        </div>

        <!-- CONTRASEÑA -->
        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" name="password" class="form-control" placeholder="********" required autocomplete="new-password">
        </div>

        <!-- CARRERA -->
        <div class="mb-3">
            <label class="form-label">Carrera</label>
            <select name="carrera" class="form-select" required>
                <option value="">Selecciona una carrera</option>
                {% for c in carreras %}
                    <option value="{{ c.id }}">{{ c.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- FOTO -->
         <div class="mb-3">
             <label class="form-label">Fotografía</label>
         
             <input
                 type="file"
                 name="foto"
                 class="form-control"
                 accept="image/*">
         
             <small class="text-muted">
                 Opcional. Si no seleccionas una imagen, se utilizará un avatar por defecto.
             </small>
         </div>

        <!-- BOTÓN -->
        <button class="btn btn-dark w-100">
            Guardar
        </button>

    </form>

</div>

{% endblock %}