{% extends 'base.html' %}

{% block content %}

<div class="card p-4 shadow-sm" style="max-width: 500px; margin:auto;">

    <h4 class="mb-4 text-center">Nuevo Alumno</h4>

    <form method="POST">
        {% csrf_token %}

        <!-- 🔥 MOSTRAR ERRORES -->
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}

        <div class="mb-3">
            <label class="form-label">Matrícula</label>
            <input type="text" class="form-control" value="Se genera automáticamente" disabled>
        </div>

        <div class="mb-3">
            <label class="form-label">Nombre</label>
            {{ form.nombre }}
        </div>

        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            {{ form.password }}
        </div>

        <div class="mb-3">
            <label class="form-label">Correo</label>
            {{ form.correo }}
        </div>

        <div class="mb-3">
            <label class="form-label">Carrera</label>
            {{ form.carrera }}
        </div>

        <!-- ❌ QUITAMOS MATERIAS -->

        <button type="submit" class="btn btn-dark w-100">
            Guardar
        </button>

    </form>

</div>

{% endblock %}