{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}

<div class="container">

    <h3 class="fw-semibold mb-4">
         {{ alumno.nombre }}
    </h3>

    <!-- DATOS -->
    <div class="card p-3 mb-4 shadow-sm">
        <div class="row">
            <div class="col-md-3">
                <small class="text-muted">Matrícula</small>
                <p class="fw-semibold">{{ alumno.matricula }}</p>
            </div>
            <div class="col-md-3">
                <small class="text-muted">Correo</small>
                <p class="fw-semibold">{{ alumno.correo }}</p>
            </div>
            <div class="col-md-3">
                <small class="text-muted">Carrera</small>
                <p class="fw-semibold">{{ alumno.carrera }}</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-semibold">
        Calificaciones
    </h3>

    <div class="d-flex gap-2">
    <a href="{% url 'generar_pdf' alumno.id %}" class="btn btn-danger btn-sm">
        📄 Descargar Boleta en PDF
    </a>

    <a href="{% url 'kardex_alumno' alumno.id %}" class="btn btn-primary btn-sm">
        🎓 Ver Kardex
    </a>
</div>
</div>

    <!-- TABLA -->
    <div class="card p-3 shadow-sm">

        <table class="table table-hover text-center align-middle">

            <thead>
                <tr>
                     <th>Materia</th>
                     <th>Parcial1</th>
                     <th>Regularización1</th>
                     <th>Parcial2</th>
                     <th>Regularización2</th>
                     <th>Parcial3</th>
                     <th>Regularización3</th>
                     <th>Promedio</th>
                     <th>Acciones</th>
                </tr>
            </thead>

            <tbody>

                {% for materia in materias %}
                <tr>

                    <td class="text-start">{{ materia.nombre }}</td>

                        <td>{{ mapa|get_item:materia.id|get_item:"p1" }}</td>
                        <td>{{ mapa|get_item:materia.id|get_item:"r1" }}</td>
                        
                        <td>{{ mapa|get_item:materia.id|get_item:"p2" }}</td>
                        <td>{{ mapa|get_item:materia.id|get_item:"r2" }}</td>
                        
                        <td>{{ mapa|get_item:materia.id|get_item:"p3" }}</td>
                        <td>{{ mapa|get_item:materia.id|get_item:"r3" }}</td>
                        
                        <td>
                            {{ mapa|get_item:materia.id|get_item:"promedio" }}
                        </td>

                    <td>
                        {% if request.user.is_superuser or materia.maestro.user == request.user %}
                        <div class="btn-group">

                            <button class="btn btn-dark btn-sm"
                                onclick="abrirModal(
                                {{ materia.id }},
                                '{{ materia.nombre }}',
                                '{{ mapa|get_item:materia.id|get_item:"p1"|default:"" }}',
                                '{{ mapa|get_item:materia.id|get_item:"p2"|default:"" }}',
                                '{{ mapa|get_item:materia.id|get_item:"p3"|default:"" }}'
                                )">
                                + Agregar / Editar
                            </button>

                            <button class="btn btn-danger btn-sm"
                                onclick="confirmarEliminar({{ materia.id }})">
                                Eliminar
                            </button>

                        </div>

                        {% else %}
                           <span class="text-muted">Solo lectura</span>
                       {% endif %}
                    </td>

                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

<!-- MODAL -->
<div class="modal fade" id="modalCalificacion">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Calificaciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <input type="hidden" id="materia_id">

        <div class="mb-3">
            <label>Materia</label>
            <input type="text" id="materia_nombre" class="form-control" readonly>
        </div>

        <div class="row">
            <div class="col">
                <label>Parcial 1</label>
                <input type="number" id="p1" class="form-control "min="0" max="100">
            </div>
            <div class="col">
                <label>Parcial 2</label>
                <input type="number" id="p2" class="form-control" min="0" max="100">
            </div>
            <div class="col">
                <label>Parcial 3</label>
                <input type="number" id="p3" class="form-control" min="0" max="100">
            </div>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-dark" onclick="guardarCalificaciones()">Guardar</button>
      </div>

    </div>
  </div>
</div>

<!-- MODAL ELIMINAR -->
<div class="modal fade" id="modalEliminar">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5>Eliminar calificaciones</h5>
      </div>

      <div class="modal-body">
        ¿Eliminar todas las calificaciones de esta materia?
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-danger" onclick="eliminarCalificaciones()">Eliminar</button>
      </div>

    </div>
  </div>
</div>

{% endblock %}


{% block scripts %}
<script>

function mostrarToast(mensaje, tipo="success") {

    const container = document.getElementById('toast-container');
    const toast = document.createElement('div');

    toast.className = `toast align-items-center text-bg-${tipo} border-0 show mb-2`;

    toast.innerHTML = `
        <div class="d-flex">
            <div class="toast-body">
                ${mensaje}
            </div>
            <button type="button"
                    class="btn-close btn-close-white me-2 m-auto"
                    onclick="this.parentElement.parentElement.remove()">
            </button>
        </div>
    `;

    container.appendChild(toast);

    setTimeout(() => {
        toast.remove();
    }, 3000);
}    



// CSRF
function getCookie(name) {
    return document.cookie.split(';')
        .map(c => c.trim())
        .find(c => c.startsWith(name + '='))
        ?.split('=')[1];
}

// ABRIR MODAL
function abrirModal(id, nombre, p1, p2, p3){

    document.getElementById('materia_id').value = id;
    document.getElementById('materia_nombre').value = nombre;

    document.getElementById('p1').value = p1 || '';
    document.getElementById('p2').value = p2 || '';
    document.getElementById('p3').value = p3 || '';


    // 🔥 Control de parciales

    document.getElementById('p1').disabled =
        {% if parciales_habilitados.1 %}false{% else %}true{% endif %};

    document.getElementById('p2').disabled =
        {% if parciales_habilitados.2 %}false{% else %}true{% endif %};

    document.getElementById('p3').disabled =
        {% if parciales_habilitados.3 %}false{% else %}true{% endif %};

    new bootstrap.Modal(document.getElementById('modalCalificacion')).show();
}

// GUARDAR
function guardarCalificaciones(){

    fetch('/alumnos/calificaciones/guardar_parciales/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({
            alumno_id: "{{ alumno.id }}",
            materia_id: document.getElementById('materia_id').value,
            p1: document.getElementById('p1').value,
            p2: document.getElementById('p2').value,
            p3: document.getElementById('p3').value
        })
    })
    
.then(res => res.json())
.then(data => {

    if (data.status === "error") {
        mostrarToast(data.mensaje, "danger");
        return;
    }

    mostrarToast("Calificaciones guardadas correctamente ✅", "success");

    setTimeout(() => {
        location.reload();
    }, 1000);
});
}


// ELIMINAR
let materiaEliminar = null;

function confirmarEliminar(id){
    materiaEliminar = id;
    new bootstrap.Modal(document.getElementById('modalEliminar')).show();
}




function eliminarCalificaciones(){

    fetch('/alumnos/calificaciones/eliminar_parciales/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({
            alumno_id: "{{ alumno.id }}",
            materia_id: materiaEliminar
        })
    })
    .then(res => res.json())
.then(data => {

    mostrarToast(
        "Calificaciones eliminadas correctamente",
        "danger"
    );

    setTimeout(() => {
        location.reload();
    }, 1000);

   }); 

    
}

</script>
{% endblock %}