{% extends 'base.html' %}

{% block content %}

<div class="card p-4 shadow-sm" style="max-width: 500px; margin:auto;">

    <h4 class="mb-4 text-center">
        Editar Alumno
    </h4>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Matrícula</label>
            {{ form.matricula }}
        </div>

        <div class="mb-3">
            <label class="form-label">Nombre</label>
            {{ form.nombre }}
        </div>

        <div class="mb-3">
            <label class="form-label">Correo</label>
            {{ form.correo }}
        </div>

        <div class="mb-3">
            <label class="form-label">Carrera</label>
            {{ form.carrera }}
        </div>

        <div class="mb-3">
            <label class="form-label">Materias</label>
            {{ form.materias }}
        </div>

       <button type="button" class="btn btn-dark w-100"
        data-bs-toggle="modal"
        data-bs-target="#modalGuardar">
    Guardar cambios
</button>


<div class="modal fade" id="modalGuardar" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content p-3">

      <h5>Confirmar cambios</h5>
      <p>¿Seguro que deseas guardar los cambios?</p>

      <div class="d-flex justify-content-end gap-2">
        <button class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
        </button>

        <button type="submit" class="btn btn-dark">
            Sí, guardar
        </button>
      </div>

    </div>
  </div>
</div>



    </form>

</div>

{% endblock %}