<div class="modal-header">
    <h5 class="modal-title">Editar Carrera</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<form onsubmit="guardarCarrera(event, {{ carrera.id }})">

    <div class="modal-body">

        <label>Nombre</label>
        <input type="text" name="nombre" value="{{ carrera.nombre }}" class="form-control">

    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-dark">Guardar</button>
    </div>

</form>

<script>
function guardarCarrera(e, id){
    e.preventDefault();

    let form = e.target;

    fetch(`/alumnos/carreras/editar/${id}/`, {
        method: 'POST',
        body: new FormData(form),
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(res => res.json())
    .then(data => {
        if(data.success){
            location.reload(); // 🔥 refresca lista
        }
    });
}
</script>