{% extends 'base.html' %}

{% block content %}

<div class="card p-4 shadow-sm" style="max-width: 500px; margin:auto;">

    <h4 class="mb-4 text-center">
        Editar Alumno
    </h4>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Matrícula</label>
            {{ form.matricula }}
        </div>

        <div class="mb-3">
            <label class="form-label">Nombre</label>
            {{ form.nombre }}
        </div>

        <div class="mb-3">
            <label class="form-label">Correo</label>
            {{ form.correo }}
        </div>

        <div class="mb-3">
            <label class="form-label">Carrera</label>
            {{ form.carrera }}
        </div>

        <div class="mb-3">
            <label class="form-label">Materias</label>
            {{ form.materias }}
        </div>

        <button class="btn btn-dark w-100">
            Guardar cambios
        </button>

    </form>

</div>

{% endblock %}